.registrationform{
	
	width: 40%;
	margin: 150px auto;
	padding: 50px;
}

.registrationform input{
	padding: 5px;
	background-color: #E5E5E5;
	border: none;
}

.button{
	background-color: #17CEDA;
	padding: 10px;
	color: white;
	border: none;

}
.box{
	background-color: #17CEDA;
	padding: 25px;

}
.box a{
	color: white;
	text-decoration: none;
}
#dash{
	margin: 100px auto;
	width: 50%;
}
table{
	 border-collapse: collapse;
}
thead th{
background-color: #17CEDA;
}

.links{
	background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
